PORT=3000
HOST=0.0.0.0

XTREAM_SERVER_URL=
XTREAM_USERNAME=
XTREAM_PASSWORD=

XTREAM_TIMEOUT_MS=12000
XTREAM_CACHE_TTL_MS=60000

APP_API_CACHE_TTL_MS=60000
APP_LOGIN_USERNAME=robert
APP_LOGIN_PASSWORD=sempre
APP_AUTO_LOGIN_ENABLED=true
