XTREAM_SERVER_URL=
XTREAM_USERNAME=
XTREAM_PASSWORD=

# Override opcional de auto-login (sobrepoe configuracao do admin):
# AUTO_LOGIN_OVERRIDE=off
# AUTO_LOGIN_OVERRIDE=on
# AUTO_LOGIN_OVERRIDE=robert
AUTO_LOGIN_OVERRIDE=
